{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}

  <form action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">
        
        <div>
            <label for="myfile">File to upload:</label>
            <input type="file" name="myfile" id="myfile">
        </div>
        <div>
            <label for="testUpload">Test upload:</label>
            <input type="checkbox" name="testUpload" id="testUpload" checked>
        </div>
        <div>
            <label for="doNotDelete">Do not delete:</label>
            <input type="checkbox" name="doNotDelete" id="doNotDelete"  checked>
        </div>
        <div>
            <label for="importerName">Importer:</label>
            <input type="text" name="importerName" id="importerName"  >
        </div>

        <button type="submit">Upload</button>

  </form>

{% endblock %}
